# Local env
.env
.env.*

# Go workspace
go.work

# Build outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
main

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs / temp
*.log
*.tmp